
<!--Bagian bawah website-->
    <footer>
    <div>
        You can contact me through:
        <br>
        <a href="https://twitter.com/zh_ya">Twitter</a>
        <a href="https://github.com/zhyaisme">GitHub</a>
        <a href="mailto:zhyaisme@gmail.com">Email</a>
    </div>
    </footer>
</body>
</html>
