<!DOCTYPE html>
<html>
    <head>
        <Title>Welcome</Title> 
    </head>
    <body>
        <!--menu awal-->
        <div>
            <a href="/">Welcome Page</a>
            <a href="/home">Home</a>
        </div>