<%- include ("_header.ejs") %>

    <h1>Hello</h1>
    <div>
        <div>
            <img src="/images/Yan.jpg" height=175px></img>
        </div>
        <div>
            <h3>The name's Tjiu, Yandri Tjiu</h3>
            <p>I am a newbie programmer who's currently learning html, css, python, and some other stuff.</p>
            <p>I'm a graduate of Physics Engineering who happens to be enthusiastic on learning programming and stuff.</p>
        </div>
    </div>
    <br>
    <br>
    <br>

<%- include ("_footer.ejs") %>