<%- include ("_header.ejs") %>

    <h1>Welcome!</h1>
    <p>This is my first website using nodejs</p>
    <p>Feel free to explore the other tab for once, let me know what you think about things right now.</p>

    <br>
    <br>
    <br>

<%- include ("_footer.ejs") %>